.filter-icon {
    width: 40px;
    height: 40px; /* Set a height for better appearance */
    background-color: white;
    outline: none;
    border: none; /* Remove default border */
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    cursor: pointer; /* Set cursor to pointer for better UX */
}

input {
    width: 60px;
    margin-right: 5px;
    border-radius: 6px;
}

.values-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.filters-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    position: relative;
    height: 100%;
}

.location-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    max-width: 350px;
    height: 350px;
    overflow-y: scroll;
}

.employment-type-wrapper label {
    display: block;
    margin-bottom: 10px;
}

.employment-type-wrapper label input[type="checkbox"] {
    margin-right: 5px;
}
