.card {
    height: 200px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    display: flex;
    flex-direction: column;
    transition-duration: 600ms;
    transition-timing-function: ease;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;

    text-align: center;
}

.card:focus-within,
.card:hover ~ .card {
    transform: translateX(-130px);
}

.card:not(:hover) {
    transform: translateX(-70px);
}

.card-body h1 {
    color: #fff;
    font-size: 1.5rem;
    /* margin-bottom: 1rem; */
}

.card-body h2 {
    color: #fff;
    font-size: 1.25rem;
    /* margin-bottom: 1rem; */
}

.card-body {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    /* margin-bottom: 1rem; */
}

.card:after {
    background: linear-gradient(transparent, mediumslateblue, transparent);
    height: 120px;
    width: 1px;
    position: absolute;
    right: -1px;
    content: "";
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
}

.card:after {
    top: 65%;
    opacity: 0;
}

.card:hover:after {
    top: 25%;
    opacity: 1;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.source-logo {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    background-color: #2c2736;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    color: #fff;
}

.post-info-title {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 2px;
}

.post-info-posted {
    font-size: 10px;
    font-weight: 100;
    margin: 0;
}

.apply {
    font-family: "futura";
    font-weight: 500;
    background-color: #fed85d;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fffbec;
    justify-content: center;
    align-items: center;
}
